{% extends 'carta/base.html' %}

{% block content %}

{% if menu %}
    <div class="col m-2">
        <div class="card" style="width: 18rem;">
            <img src="{{ menu.imagen.url }}"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ menu.nombre }}</h5>
                <p class="card-text">{{ menu.descripcion }}</p>
                <div class="is-grouped">
                    <a href="{% url 'list' %}" class="btn btn-primary">Volver</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}